body {
  width: 100%;
  font-family: 'Gotham Pro', sans-serif;
  margin: 0;
  padding: 0;
}

header, main {
  width: 650px;
  margin: 50px auto;
  color: #404040;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 0;
}

header > p {
  font-size: 24px;
  font-weight: 700;
  margin-top: 4px;
}
